@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply min-w-[64px] justify-center pl-3 pr-3 font-appRegular min-h-[42px] border-2 border-white border-opacity-60 hover:border-opacity-80 text-opacity-80 hover:text-opacity-100 text-white rounded-full flex items-center transition-all
  }
  .btn-danger {
    @apply min-w-[64px] justify-center pl-3 pr-3 font-appRegular min-h-[42px] border-2 border-appDanger border-opacity-100 text-opacity-80 hover:text-opacity-100 text-white rounded-full flex items-center transition
  }
  .input-primary {
    @apply min-w-[64px] rounded-2xl pl-3 font-appRegular outline-none placeholder-white h-[42px] border-2 border-white border-opacity-60 bg-transparent text-white text-opacity-70
  }
  .card {
    @apply min-w-[64px] justify-center pl-3 pr-3 font-appRegular min-h-[42px] border-2 border-white border-opacity-100 text-opacity-100 text-white rounded-full flex items-center transition
  }
}

@font-face {
  font-family: "interface-light";
  src: url("./assets/fonts/tt-interphases-pro-light.ttf")
}

@font-face {
  font-family: "interface-regular";
  src: url("./assets/fonts/tt-interphases-pro-regular.ttf")
}

:root {
  --primary-text: #ffffff;
  --secondary-text: rgba(255,255,255,.3);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: interface-regular;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

button {
  transition: 300ms;
}

button:hover {
  scale: 103%;
  transition: 200ms;
}

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  background: none;
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

input {
  outline: none;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

[data-tauri-drag-region] {
  -webkit-app-region: drag;
}

* {
  user-select: none;
}

